services:
  data-generation-backend:
    container_name: data-generation-backend
    build:
      context: ./
      dockerfile: Dockerfile.data-generation-backend
    image: data-generation-backend
    working_dir: /app/
    env_file:
      - data_generation_backend/.env
    ports:
      - "8600:8600"

  data-generation-frontend:
    container_name: data-generation-frontend
    build:
      context: ./
      dockerfile: Dockerfile.data-generation-frontend
    image: data-generation-frontend
    working_dir: /app/
    environment:
      - BACKEND_URL=http://data-generation-backend:8600
      - LOADER_STYLE=/app/gifs/9ef6c06a26ed1378119a29e3a3586bb2.gif
    ports:
      - "8501:8501"